# Ignore the bin directory
bin/

# Ignore the debug directory
obj/

# Ignore the .user files
*.user
/.vs/NetworkAnalyzer/FileContentIndex
/.vs/NetworkAnalyzer/v17
/.vs/NetworkAnalyzer/DesignTimeBuild
